*{margin: 0;
padding: 0;
box-sizing: border-box;}

body{
    position: relative;
display: flex;
flex-direction: column;}

.viv{height: 1000px;
    
    position: absolute;
    top: 0px;
    right: 0;    
    z-index: -2;}
   

.nav{display: flex;
    align-items: center;
flex-direction: row-reverse;
    justify-content: space-around;
height: 200px;
max-width: 100%;
}

.logo{height: 130px;
width: 200px;
padding: 20px;
position: absolute;
top: 10px;
left: 180px;}

.div1{display: flex;
justify-content: space-around;
padding: 15px;
margin: 10px;
flex-direction: row-reverse;
margin-right: 20px;}

.dd{font-size: 30px;
padding: 20px;
margin: 20px;
}


.aa{text-decoration: none;
color: black;
font-weight:bold;}

.butt1{padding: 20px;
font-size: 25px;
margin: 10px;
border-radius: 30px;
}

section{display: flex;
flex-direction: column;
height: 600px;
width: 80%;
margin:20px ;}

.divmiddle{
    display: flex;
    flex-direction: column;
    line-height: 45px;
    height: 600px;
    width: 730px;
    font-size: 30px;
    margin-left: 100px;
    margin-top: 0px;
margin-bottom: 50px;}

.parag{margin-left: 28px;
padding: 20px;
font-size: 35px;}


.h1{font-size: 120px;
font-weight: bolder;
padding: 20px ;
margin: 20px;
line-height: 100px;
text-align: left;}


.butt2{
    padding:20px;
font-size: 25px;
margin: 10px;
border-radius: 15px;
background-color: purple;
color: white;
width: 200px;
margin-left: 40px;}


.divlast{display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    margin-left: 300px;
    width: 80%;
margin-top: 13%;
}

.divll{display: flex;
flex-direction: column;
justify-content: flex-start;}

.loop{width: 60px;
height: 60px;
padding: 5px;
margin-bottom: 25px;}


.pplast{font-size: 30px;
line-height: 50px;
}



.dldl{position: absolute;
    bottom: -150px;
    left:0px;
    height: 200px;
    width: 100px;
;}